/* App */
.list-page-container, .detail-page-container {
  width: 100%;
  padding: 20px;
  margin: auto;
}

a {
  color: #2F9331;
  text-decoration: none;
}

/* CharacterList page */
/* .list-page-container-top, .list-page-container-bottom { */
/* CharacterList */
.list-page-container-top, .list-container {
  width: 75%;
  margin: auto;
}

.list-page-container-top * {
  /* list-style-type: none; */
  margin: 20px;
}

.list-page-container-top h3 {
  color: gray;
}

.list-page-container-bottom {
  display: flex;
  justify-content: space-between;
}

.list-container {
  min-width: 100px;
  width: 75%;
}

/* Filter/Search */

.filter-container {
  margin-left: 20px;
  width: 25%;
}

.filter-characters {
  width: 100%;
  min-width: 300px;
  padding: 10px;
  margin: 0;
  font-size: 1em;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.filter-checkbox-input {
  font-size: 0.75em;
}

/* CharacterList main */
.character-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.character-item {
  padding: 10px;
  min-height: 30px;
  min-width: 300px;
  margin: 20px;
  border: 1px solid lightgray;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.character-item a {
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.character-thumbnail {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25%;
  flex-shrink: 0;
}

.character-item-info {
  padding-left: 20px;
  border-left: 1px solid #eee;

  flex: 1;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* CharacterDetail */
.detail-page-top, .character-details, .detail-page-bottom, .detail-page-bad-id {
  width: 75%;
  margin: auto;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.detail-page-bad-id {
  margin-top: 60px;
  margin-bottom: 40px;
}

.character-details {
  flex-direction: column;
}

.character-profile-picture {
  width: 200px;
  height: 200px;
  margin-right: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25%;
  flex-shrink: 0;
}



